/*body .heder-navbar {
    position:  fixed;
    justify-content: space-around;
    background-color: #E95420;
    }
body .nav {
    background-color: #E95420;
}*/

body .navbar-light .navbar-nav .nav-link {
    color: white;
}

body .navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
body .navbar {
    position: fixed;
    z-index: 1;
    max-width: 1500px;
    text-transform: uppercase;
}

body .bg-light {
    background-color: #E95420 !important;
}

body main .first h2 {
    text-align: center;
    margin-top: 80px;
}

@media (min-width: 80px) {
    body main .first [src^=img] {
        width: 42%;
        float: left;
        margin-right: 15px;
    }
}

body main .second h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 65px;
}

@media (min-width: 80px) {
    body main .second [src^=img] {
        width: 42%;
        float: right;
    }
}

main #turs {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 65px;
}