/*body .heder-navbar {
    position:  fixed;
    justify-content: space-around;
    background-color: #E95420;
    }
body .nav {
    background-color: #E95420;
}*/


body .navbar-light .navbar-nav .nav-link {
    color: white;
    padding-right: 76px;
    width: 100%;
}

body .navbar-light .navbar-nav .active>.nav-link {
    color: white;
    padding-right: 76px;
}
body .navbar {
    position: fixed;
    z-index: 1;
    max-width: 1500px;
    text-transform: uppercase;
    justify-content: center;
    width:100%;
}
body #navbarNav {
    justify-content: center;
}

header .header-back {
    height: 60px;
    max-width: 1500px;
    background-color: #E95420;
}

body .bg-light {
    background-color: #E95420 !important;
}

#home {
    padding: 75px 0 75px 0;
}

#turs {
    text-align: center;
    border-top-style: solid;
    border-top-color: #E95420;
    padding: 75px 0 75px 0;
}
#gallery {
    border-top-style: solid;
    border-top-color: #E95420;
    padding: 75px 0 75px 0;
}

#contacts {
    border-top-style: solid;
    border-top-color: #E95420;
    padding: 75px 0 75px 0;
}

body main h2 {
    text-align: center;
    margin: 75px;
}

@media (min-width: 80px) {
    body main .first [src^=img] {
        width: 42%;
        float: left;
        margin-right: 15px;
    }
}

body main .second h2 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

@media (min-width: 80px) {
    body main .second [src^=img] {
        width: 42%;
        float: right;
    }
}

