body main .first h2 {
    text-align: center;
    margin-top: 80px;
}

@media (min-width: 80px) {
    body main .first [src^=img] {
        width: 42%;
        float: left;
        margin-right: 15px;
    }
}

body main .second h2 {
    text-align: center;
    margin-top: 80px;
}

@media (min-width: 80px) {
    body main .second [src^=img] {
        width: 42%;
        float: right;
    }
}